<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Page</title>
</head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>

<body>

	<h1>Students List</h1>

	<ol>
    	<li>Vuqar</li>
    	<li>Murad</li>
    	<li>Aydan</li>
    	<li>Vagif</li>
	</ol>


	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			 <tr>
				<td th:text="${student.name}"></td>
				<td th:text="${student.surname}"></td>
				<td th:text="${student.grade}"></td>
			</tr>
		</tbody>

	</table>
	
	
	
	
	<form th:action="@{/add}" method="post" th:object="${student}">

    Name:
    <input type="text" th:field="*{name}">
    <br><br>

    Age:
    <input type="number" th:field="*{age}">
    <br><br>

    Course:
    <input type="text" th:field="*{course}">
    <br><br>

    <button type="submit">Add Student</button>

</form>
</body>
</html>