<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Page</title>
</head>
<body>

	<h1>Students List</h1>

	<ol>
    	<li>Vuqar</li>
    	<li>Murad</li>
    	<li>Aydan</li>
    	<li>Vagif</li>
	</ol>


	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			 <tr>
				<td th:text="${student.name}"></td>
				<td th:text="${student.surname}"></td>
				<td th:text="${student.grade}"></td>
			</tr>
		</tbody>

	</table>
</body>
</html>